header{
    display:block;
}
section{
    display: block;
}
nav{
    display: block;
}
footer{
    display: block;
}
.background1{
    background: #eefdff;
}

.background2{
    background: -moz-linear-gradient(top, #fff 0%, #e0e0e0 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0)) no-repeat;
    background: -ms-linear-gradient(#fff, #e0e0e0);
    -pie-background: linear-gradient(#fff, #e0e0e0);
}
.subBackground2{
    background: url('../images/bg2.png') no-repeat;
}

.headForm{
    margin-bottom: 20px;
}
.headForm input{
  margin-left: 10px;
}

.submit{
    background: -moz-linear-gradient(top, #0f8bb9 0%, #013c52 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#0f8bb9), to(#013c52)) no-repeat;
    background: -ms-linear-gradient(#0f8bb9, #013c52);
    -pie-background: linear-gradient(#0f8bb9, #013c52);
    border: none;
    padding: 4px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.sandi a{
    width: 70px;
    float: left;
    margin-top: 5px;
    color: #0f8bb9;
    font-size: 12px;
}
.sandi a:hover{
    text-decoration: none;
    color: #013c52;
}

.signUp{
    margin-right: 0px;
    float: right;
}
.signUp article{
    margin: 5px 0 0 0;
    color: #fff;
    background: -moz-linear-gradient(top, #00a2ff 0%, #0f8bb9 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#0f8bb9)) no-repeat;
    background: -ms-linear-gradient(#00a2ff, #0f8bb9);
    -pie-background: linear-gradient(#00a2ff, #0f8bb9);
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.signUp article h3{
    font-size: 18px;
    text-align: center;
    margin: -14px 0 0px 0;
    background: -moz-linear-gradient(top, #ff9600 0%, #c57707 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9600), to(#c57707)) no-repeat;
    background: -ms-linear-gradient(#ff9600, #c57707);
    -pie-background: linear-gradient(#ff9600, #c57707);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.signUp article h3 a{
    font-size: 18px;
    color: #013c52;
    border-right: none;
}
.signUp article h3 a:hover{
    color: #fff;
}
.signUp article h6{
    font-weight: normal;
    font-size: 12px;
    margin-top: -20px;
}
.signUp a{
    border-right: 1px #0f8bb9 solid;
    padding-right:1px;
    font-size: 12px;
    text-decoration: none;
    color: #0f8bb9;
}
.signUp a:hover{
    color: #013c52;
}

.notice{
    padding:5px;
    background: #ff9600;
    color: #1f1301;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin:0;
}

.menuLink{
    background: -moz-linear-gradient(top, #00a2ff 0%, #0f8bb9 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#00a2ff), to(#0f8bb9)) no-repeat; 
    background: -ms-linear-gradient(#00a2ff, #0f8bb9);
    -pie-background: linear-gradient(#00a2ff, #0f8bb9);
    padding: 10px;
    margin: 0px; 
    text-align: center;
}
.menuLink a{
    padding: 0 20px 0 20px;
    color: #674003;
    text-decoration: none;
    font-size: 15px;
}
.menuLink a:hover{
    color: #fff;
}
.menuLink span{
     border-right: 1px dashed #fff;
}

.content{
    margin-top: 10px;
}
.content ul li{
    font-size: 15px;
    padding-bottom: 20px;
}
.content nav{
    margin-top: -15px;
}

.fb{
    left:0px;
    width:140px;
    height: 35px;
    float: right;
}
.fb{
    background:url('../images/sosial.jpg') 0 0 no-repeat;
}

.tweet{
    left:63px;
    width:140px;
    height: 35px;
    float: right;
}
.tweet{
    background:url('../images/sosial.jpg') -140px 0 no-repeat;
}

.rightContent{
    margin-top: 10px;
    margin-right: -10px;
}
.rightContent h3{
    background: -moz-linear-gradient(top, #f3e3da 0%, #1c0a01 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3e3da), to(#1c0a01)) no-repeat;
    background: -ms-linear-gradient(#f3e3da, #1c0a01);
    -pie-background: linear-gradient(#f3e3da, #1c0a01);
    font-weight: normal;
    color: #fff;
    padding: 10px;
    -webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
}
.rightContent{
    margin:10px 0 0 0px;
}
.rightContent span{
    margin: 10px;
}
.rightContent span{
    left:63px;
    width:34px;
    height: 34px;
    float: left;
    background:url('../images/ico.png') 0 0 no-repeat;
}
.rightContent ul{
    list-style: none;
    padding:5px 15px 5px 15px;
    margin: -20px 0 0 0px;
    font-size: 12px;
    border: 2px #1c0a01 solid;
}
.rightContent ul li{
    padding:10px;
    margin:0px 0 0 -10px;
    border-bottom: 1px #1c0a01 dashed;
}
.rightContent ul li span{
    right:63px;
    width:34px;
    height: 34px;
    float: right;
    background:url('../images/ico.png') -33px 0 no-repeat;
    margin: -10px -42px 0px 0px;
}
.rightContent a{
    padding-left:15px;
    text-decoration: underline;
    color: #00a2ff;
}
.rightContent a:hover{
    text-decoration: none;
}
.rightContent nav{
    background: -moz-linear-gradient(top, #1c0a01 0%, #000 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#1c0a01), to(#000)) no-repeat;
    background: -ms-linear-gradient(#1c0a01, #000);
    -pie-background: linear-gradient(#1c0a01, #000);
    -webkit-border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    padding: 10px 10px 0px 10px;
    height: 40px;
}
.rightContent nav h6{
    color: #00a2ff;
    font-weight: normal;
    text-align: center;
    padding:5px 10px 5px 10px;
    background: #fff;
    width: 90px;
    margin:-3px auto 0px auto;
}
.rightContent nav h6 a{
    text-decoration: none;
    margin-left: -20px;
}
.rightContent nav h6 a:hover{
    text-decoration: underline;
}

.footerContent{
    border:2px solid #0f8bb9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-right: 5px;
}
.footerContent h2{
    margin: 0px;
    padding: 10px;
    float: left;
    font-size: 20px;
    color:#00a2ff;
}
.footerContent h6{
    margin: 50px 10px 0 10px;
    font-weight: normal;
    padding: 10px 0px 10px 0px;
    border-top:2px solid #0f8bb9;
}

.setting{
    left:63px;
    width:49px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.setting{
    background:url('../images/ico2.jpg') -26px 0px no-repeat;
}

.about{
    left:63px;
    width:27px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.about{
    background:url('../images/ico2.jpg') 0px 0px no-repeat;
}

.united{
    left:63px;
    width:47px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
}
.united{
    background:url('../images/ico2.jpg') -76px 0px no-repeat;
}

footer{
    margin:10px 0px 0px 0px;
    background: #232323;
    padding:5px;
    height: 15px;
}
footer h6{
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    padding: 0 10px 0 10px;
    float: left;
    margin-bottom: -10px;
    border-right: solid 1px #fff;
}
.endFooter{
    padding-top: 10px;
}
